Repository dbca-wa/science-projects-client: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-checks, backend-checks

.pre-commit-config.yaml:

# Root-level pre-commit configuration for monorepo
# This orchestrates frontend and backend pre-commit hooks based on changed files
# See https://pre-commit.com for more information

repos:
  # General file checks (applies to all files)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-json
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key
      - id: mixed-line-ending
        args: [--fix=lf]

  # Frontend pre-commit hooks (only run when frontend files change)
  - repo: local
    hooks:
      - id: frontend-checks
        name: Frontend pre-commit checks
        entry: ./.pre-commit-frontend-wrapper.sh
        language: script
        files: ^frontend/
        pass_filenames: false
        verbose: true

  # Backend pre-commit hooks (only run when backend files change)
  - repo: local
    hooks:
      - id: backend-checks
        name: Backend pre-commit checks
        entry: ./.pre-commit-backend-wrapper.sh
        language: script
        files: ^backend/
        pass_filenames: false
        verbose: true

# Global settings
fail_fast: false
minimum_pre_commit_version: '3.0.0'

# Exclude patterns
exclude: |
  (?x)^(
      \.git/.*|
      \.github/.*|
      \.kiro/.*|
      node_modules/.*|
      __pycache__/.*|
      \.venv/.*|
      venv/.*|
      build/.*|
      dist/.*|
      coverage/.*|
      staticfiles/.*|
      migrations/.*
  )$

docs: update README links
  documentation/README.md
Due: none

Set up frontend documentation structure and templates
  documentation/frontend/README.md
  documentation/frontend/architecture/ADR-TEMPLATE.md
  documentation/frontend/architecture/README.md
  documentation/frontend/deployment/README.md
  documentation/frontend/development/README.md
  documentation/frontend/performance/README.md
Due: none

docs: Clean up caretakers README - remove AI/spec references
  frontend/src/features/caretakers/README.md
Due: frontend-checks

docs: Clean up caretakers README
  frontend/src/features/caretakers/README.md
Due: frontend-checks

refactor: Rename develop branch to staging for clarity
  .github/workflows/deploy-uat.yml
  .github/workflows/test.yml
  README.md
  documentation/general/deployment/ci-cd-overview.md
  documentation/general/deployment/version-management.md
Due: none

ref: update naming of staging branch from develop
  .github/workflows/deploy-staging.yml
  README.md
  documentation/general/deployment/ci-cd-overview.md
  documentation/general/deployment/docker-overview.md
Due: none

Update deploy-staging.yml
  .github/workflows/deploy-staging.yml
Due: none

Update docker-overview.md
  documentation/general/deployment/docker-overview.md
Due: none

refactor: Complete UAT to Staging terminology update
  .github/workflows/deploy-staging.yml
  README.md
  documentation/general/deployment/ci-cd-overview.md
Due: none

ref: update naming of staging branch from develop (#622)
  .github/workflows/deploy-staging.yml
  README.md
  documentation/general/deployment/ci-cd-overview.md
  documentation/general/deployment/docker-overview.md
Due: none

chore: update README badge workflow
  .github/workflows/test.yml
  README.md
Due: none

fix: badge urls
  .github/workflows/test.yml
  README.md
Due: none

Staging (#623)
  .github/workflows/test.yml
  README.md
Due: none

chore: update workflow and remove docs badge
  .github/workflows/test.yml
  README.md
Due: none

Staging (#624)
  .github/workflows/test.yml
  README.md
Due: none

feat: add auto-sync workflow for staging branch
  .github/workflows/sync-staging.yml
Due: none

fix: ensure tests and builds run on releases
  .github/workflows/deploy-prod.yml
  .github/workflows/test.yml
Due: none

refactor: restructure CI/CD workflows with test gating and DRY principles
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/sync-staging.yml
  .github/workflows/test.yml
Due: none

fix: change test.yml permissions to contents:read for workflow_call compatibility
  .github/workflows/test.yml
Due: none

perf: optimise workflow execution by moving detect-changes before tests
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-staging.yml
Due: none

docs: update CI/CD and Docker documentation
  README.md
  documentation/general/deployment/ci-cd-overview.md
  documentation/general/deployment/docker-overview.md
Due: none

Staging (#625)
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/sync-staging.yml
  .github/workflows/test.yml
  README.md
  documentation/general/deployment/ci-cd-overview.md
  documentation/general/deployment/docker-overview.md
Due: none

docs: update README
  README.md
Due: none

docs: split documents tests
  backend/documents/tests/test_views.py
  backend/documents/tests/test_views_detail.py
  backend/documents/tests/test_views_list.py
  backend/documents/tests/test_views_permissions.py
Due: backend-checks

Update test.yml
  .github/workflows/test.yml
Due: none

ci: update sharding from 4 to 1 and further split tests
  .github/workflows/test.yml
  backend/documents/tests/test_services.py
  backend/documents/tests/test_services_core.py
  backend/documents/tests/test_services_documents.py
  backend/documents/tests/test_services_generation.py
Due: backend-checks

test: try optimise test time
  .github/workflows/test.yml
  backend/agencies/tests/conftest.py
  backend/common/tests/conftest.py
  backend/projects/tests/conftest.py
Due: backend-checks

test: try optimise test time
  .github/workflows/test.yml
Due: none

fix: Remove unsupported command field from PostgreSQL service
  .github/workflows/test.yml
Due: none

fix: Remove unnecessary empty commit from staging sync
  .github/workflows/sync-staging.yml
Due: none

ci: update staging to run w/o tests
  .github/workflows/deploy-staging.yml
Due: none

fix: reorder vars in settings.py
  backend/config/cache_settings.py
  backend/config/settings.py
  docker-compose.dev.yml
Due: backend-checks

fix: adjust kustomize ingress order, debug sentry/csp/admin tasks
  backend/caretakers/management/commands/migrate_caretaker_data.py
  frontend/index.html
  frontend/src/features/dashboard/services/dashboard.endpoints.ts
  frontend/src/pages/dash/Dashboard.tsx
  frontend/vite.config.ts
  kustomize/overlays/test/ingress.yaml
Due: frontend-checks, backend-checks

fix: sentry and gh security complaints
  frontend/scripts/pre-commit/check-accessibility.js
  frontend/src/pages/users/UserListPage.tsx
  frontend/vite.config.ts
Due: frontend-checks
