Repository dbca-wa/science-projects-client: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-checks, backend-checks

frontend-checks:
  name: Frontend pre-commit checks
  entry: ./.pre-commit-frontend-wrapper.sh
  language: script
  pass_filenames: false
  verbose: true

backend-checks:
  name: Backend pre-commit checks
  entry: ./.pre-commit-backend-wrapper.sh
  language: script
  pass_filenames: false
  verbose: true

ref,fix: PR/SR params on email. fix bug on PR/SR creation
  backend/documents/services/notification_service.py
  backend/projects/views/reports.py
  frontend/src/features/projects/components/tabs/ProgressReportsTab.tsx
  frontend/src/features/projects/components/tabs/StudentReportsTab.tsx
Due: frontend-checks, backend-checks

chore: update tests
  frontend/src/features/projects/components/tabs/ProgressReportsTab.test.tsx
  frontend/src/features/projects/components/tabs/StudentReportsTab.test.tsx
Due: frontend-checks

Update notification_service.py
  backend/documents/services/notification_service.py
Due: backend-checks

ci: add cleanup step to keep only latest 10 tags
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-staging.yml
Due: none

chore, fix: search user bug for comboboxes & update deps
  backend/poetry.lock
  backend/users/services/user_service.py
  backend/users/utils/helpers.py
  backend/users/views/staff_profiles.py
  frontend/bun.lock
  frontend/package.json
Due: frontend-checks, backend-checks

fix: rich text editor toolbar bugs, draft persistence isolation, and security fixes
  backend/projects/views/admin.py
  frontend/src/features/projects/hooks/useWizardPersistence.ts
  frontend/src/features/projects/utils/authors/authors.utils.test.ts
  frontend/src/features/projects/utils/wizard-cleanup.utils.ts
  frontend/src/pages/projects/ProjectCreateWizardPage.tsx
  frontend/src/shared/components/editor/FormRichTextEditor.tsx
  frontend/src/shared/components/editor/InlineSaveEditor.tsx
  frontend/src/shared/components/editor/plugins/EditorStoreIntegrationPlugin.tsx
  frontend/src/shared/components/editor/plugins/FloatingLinkToolbar.tsx
  frontend/src/shared/components/editor/toolbar/BaseToolbarButton.tsx
  frontend/src/shared/components/editor/toolbar/Toolbar.tsx
  frontend/src/shared/styles/editor.css
  frontend/src/shared/utils/user.utils.test.ts
  frontend/src/test/factories/user.factory.ts
Due: frontend-checks, backend-checks

fix: test rAF not available
  frontend/src/shared/components/editor/plugins/MoveCursorToEndPlugin.tsx
Due: frontend-checks

fix: resolve project closure document management bugs
  backend/documents/services/approval_service.py
  backend/documents/services/notification_service.py
  backend/documents/templates/email_templates/project_reopened_email.html
  backend/documents/tests/test_send_email_flag.py
  backend/documents/tests/test_views_permissions.py
  backend/documents/views/admin.py
  backend/documents/views/approval.py
  frontend/src/features/projects/components/modals/ReopenProjectModal.test.tsx
  frontend/src/features/projects/components/modals/ReopenProjectModal.tsx
  frontend/src/features/projects/components/tabs/ProjectClosureTab.test.tsx
  frontend/src/features/projects/hooks/useReopenProject.ts
  frontend/src/shared/components/documents/DocumentActionsSection.tsx
  frontend/src/shared/components/documents/UnifiedDocumentActionModal.tsx
  frontend/src/shared/services/document.service.test.ts
  frontend/src/shared/services/document.service.ts
Due: frontend-checks, backend-checks

chore: fix security false positive, tests
  frontend/src/features/projects/components/modals/ReopenProjectModal.test.tsx
  frontend/src/features/projects/components/modals/ReopenProjectModal.tsx
Due: frontend-checks

feat: admin external project funding
  backend/projects/admin.py
Due: backend-checks

feat: add admin panel export csv of external projects
  backend/projects/admin.py
Due: backend-checks

feat: allow links in new cycle message
  frontend/src/shared/components/editor/toolbar/toolbar-configs.ts
Due: frontend-checks

feat: open new cycle drafts
  frontend/src/features/admin/components/data-lists/DataListsTabs.tsx
  frontend/src/features/admin/hooks/useAdminActions.ts
  frontend/src/pages/admin/NewCyclePage.tsx
Due: frontend-checks

ref, chore: update deps, dockerfiles and kustomize resourcing
  backend/Dockerfile
  backend/poetry.lock
  frontend/Dockerfile
  frontend/Dockerfile.dev
  frontend/bun.lock
  frontend/package.json
  kustomize/base/deployment.yaml
  kustomize/base/deployment_hpa.yaml
  kustomize/overlays/prod/kustomization.yaml
  kustomize/overlays/test/kustomization.yaml
Due: frontend-checks, backend-checks

fix: test update, adjust fe resources
  frontend/src/pages/admin/NewCyclePage.a11y.test.tsx
  kustomize/base/deployment.yaml
Due: frontend-checks

ref: prevent 895%/500% CPU usage on basic request
  .gitignore
  .pre-commit-config.yaml
  kustomize/overlays/prod/deployment_patch.yaml
  kustomize/overlays/prod/kustomization.yaml
  kustomize/overlays/prod/media_pvc.yaml
  kustomize/overlays/test/kustomization.yaml
Due: none

ci: update staging sync step
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/sync-staging.yml
Due: none

feat: dedicated merge user route (admin) & project location filter
  backend/adminoptions/urls.py
  backend/adminoptions/views.py
  backend/projects/services/project_service.py
  frontend/src/app/router/routes.config.ts
  frontend/src/app/stores/derived/project-map.store.ts
  frontend/src/app/stores/derived/project-search.store.ts
  frontend/src/features/admin/hooks/useMergeUsers.ts
  frontend/src/features/admin/hooks/useMergeUsersPreview.ts
  frontend/src/features/admin/services/merge.service.ts
  frontend/src/features/projects/components/list/ProjectFilters.tsx
  frontend/src/features/projects/components/map/MapFilters.tsx
  frontend/src/features/projects/components/modals/RequestDeleteProjectModal.tsx
  frontend/src/features/projects/services/project.service.ts
  frontend/src/features/projects/types/map.types.ts
  frontend/src/pages/manage/MergeUsersPage.tsx
  frontend/src/pages/projects/ProjectListPage.tsx
  frontend/src/shared/components/layout/ManageDropdownContent.tsx
  frontend/src/shared/hooks/queries/useLocationAreas.ts
Due: frontend-checks, backend-checks

chore: update deps
  backend/poetry.lock
  frontend/bun.lock
  frontend/package.json
Due: frontend-checks, backend-checks

fix: ensure filters updates total display card on map
  backend/projects/views/map.py
  frontend/src/features/projects/services/project.service.ts
  frontend/src/pages/projects/ProjectMapPage.tsx
Due: frontend-checks, backend-checks

ref: adjust semantic versioning
  .github/workflows/deploy-prod.yml
Due: none

style: adjust select animation on close
  frontend/src/shared/components/ui/select.tsx
  frontend/src/shared/constants/animations.ts
Due: frontend-checks

chore: increase backend test coverage
  backend/.coveragerc
  backend/adminoptions/tests/test_merge_preview.py
  backend/agencies/tests/test_views_business_areas_extra.py
  backend/caretakers/tests/test_views_requests_coverage.py
  backend/communications/tests/test_mention_utils_coverage.py
  backend/documents/tests/test_views_progress_report_coverage.py
  backend/documents/tests/test_views_project_plan_coverage.py
  backend/projects/tests/test_area_filter.py
  backend/projects/tests/test_serializers_details_coverage.py
  backend/projects/tests/test_views_admin_coverage.py
  backend/projects/tests/test_views_crud_coverage.py
  backend/tests/test_utils_coverage.py
  backend/users/tests/test_helpers_coverage.py
  backend/users/tests/test_views_crud_coverage.py
  backend/users/tests/test_views_staff_profiles_coverage.py
Due: backend-checks

chore: update deps (django 6) & allow logout
  backend/poetry.lock
  backend/pyproject.toml
  frontend/bun.lock
  frontend/package.json
  frontend/src/features/auth/hooks/useAuth.ts
  frontend/src/features/auth/services/auth.service.ts
  frontend/src/shared/components/layout/HeaderContent.tsx
  frontend/src/shared/components/layout/NavitarContent.tsx
Due: frontend-checks, backend-checks

chore,ref: update deps & adjust ordering logic for bibliography & add django 6 setting
  backend/config/settings.py
  backend/poetry.lock
  frontend/bun.lock
  frontend/package.json
  frontend/src/features/staff-profiles/components/detail/PublicationsSection.tsx
Due: frontend-checks, backend-checks

test: add tests for publication ordering and github security flag
  frontend/src/features/staff-profiles/components/detail/PublicationsSection.test.ts
  frontend/src/features/staff-profiles/components/detail/PublicationsSection.tsx
Due: frontend-checks

fix: RTE onchange detection, enable BA lead edit
  backend/projects/permissions/project_permissions.py
  backend/projects/tests/test_permissions.py
  backend/projects/tests/test_views.py
  frontend/src/features/projects/components/form/EditProjectForm.tsx
  frontend/src/features/projects/components/tabs/OverviewTab.tsx
  frontend/src/pages/projects/ProjectDetailPage.tsx
  frontend/src/shared/components/documents/DocumentActionsSection.tsx
  frontend/src/shared/components/editor/RichTextEditor.accessibility.test.tsx
  frontend/src/shared/components/editor/RichTextEditor.performance.test.tsx
  frontend/src/shared/components/editor/plugins/OnChangePlugin.test.ts
  frontend/src/shared/components/editor/plugins/OnChangePlugin.tsx
Due: frontend-checks, backend-checks

style, ref: add select to library text & add custom cookie name
  backend/config/settings.py
  frontend/src/features/staff-profiles/components/detail/PublicationsSection.tsx
Due: frontend-checks, backend-checks

chore, ref: add additional ref for auth/csrf per env
  backend/config/settings.py
  backend/users/tests/test_views.py
  backend/users/views/auth.py
  frontend/src/app/stores/derived/auth.store.test.ts
  frontend/src/app/stores/derived/auth.store.ts
  frontend/src/features/auth/services/auth.service.ts
  frontend/src/shared/constants/auth.test.ts
  frontend/src/shared/constants/auth.ts
  frontend/src/shared/constants/index.ts
  frontend/src/shared/services/api/client.service.test.ts
  frontend/src/shared/services/api/client.service.ts
Due: frontend-checks, backend-checks

chore: update deps and adjust compat.
  .pre-commit-frontend-wrapper.sh
  backend/poetry.lock
  backend/pyproject.toml
  frontend/bun.lock
  frontend/package.json
  frontend/src/shared/components/editor/plugins/PastePlugin.tsx
  frontend/src/shared/components/ui/calendar.tsx
Due: frontend-checks, backend-checks

ref: extract helper functions and fix lint issue
  frontend/src/features/reports/components/business-area/BusinessAreaLeadView.tsx
  frontend/src/features/staff-profiles/components/detail/PublicationsSection.test.ts
  frontend/src/features/staff-profiles/components/detail/PublicationsSection.tsx
  frontend/src/features/staff-profiles/utils/publications.utils.ts
Due: frontend-checks

chore: minor deps update & leaflet ts7 patch
  backend/poetry.lock
  frontend/bun.lock
  frontend/package.json
  frontend/src/leaflet-heat.d.ts
Due: frontend-checks, backend-checks

chore: upgrade major frontend dependencies & adjust tests
  frontend/bun.lock
  frontend/package.json
  frontend/src/shared/components/editor/InlineSaveEditor.accessibility.test.tsx
  frontend/src/shared/components/editor/RichTextEditor.accessibility.test.tsx
  frontend/src/shared/components/editor/RichTextEditor.performance.test.tsx
Due: frontend-checks

fix: pin django back to < 6.1 whilst awaiting patch on DRF
  backend/poetry.lock
  backend/pyproject.toml
Due: backend-checks

chore: update workflow & dockerfile
  .github/workflows/test.yml
  backend/.gitignore
  backend/documents/tests/test_utils.py
  frontend/Dockerfile
Due: frontend-checks, backend-checks

Update test.yml
  .github/workflows/test.yml
Due: none

chore: update soupsieve
  backend/poetry.lock
Due: backend-checks

chore: update deps & DRF/Django
  backend/poetry.lock
  backend/pyproject.toml
  frontend/bun.lock
  frontend/package.json
Due: frontend-checks, backend-checks

Path conditions:
  frontend-checks: any of: ^frontend/, but not: (?x)^(
    \.git/.*|
    \.github/.*|
    \.kiro/.*|
    node_modules/.*|
    __pycache__/.*|
    \.venv/.*|
    venv/.*|
    build/.*|
    dist/.*|
    coverage/.*|
    staticfiles/.*|
    migrations/.*
)$

  backend-checks: any of: ^backend/, but not: (?x)^(
    \.git/.*|
    \.github/.*|
    \.kiro/.*|
    node_modules/.*|
    __pycache__/.*|
    \.venv/.*|
    venv/.*|
    build/.*|
    dist/.*|
    coverage/.*|
    staticfiles/.*|
    migrations/.*
)$

