Repository dbca-wa/science-projects-client: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-checks, backend-checks

frontend-checks:
  name: Frontend pre-commit checks
  entry: ./.pre-commit-frontend-wrapper.sh
  language: script
  pass_filenames: false
  verbose: true

backend-checks:
  name: Backend pre-commit checks
  entry: ./.pre-commit-backend-wrapper.sh
  language: script
  pass_filenames: false
  verbose: true

chore: fix sentry bugs
  backend/documents/migrations/0014_annualreport_unique_year_division.py
  backend/documents/models.py
  backend/documents/services/annual_report_service.py
  frontend/src/features/admin/components/business-areas/BusinessAreaPageForm.tsx
Due: frontend-checks, backend-checks

test: adjust test for division ref
  backend/documents/tests/test_services_core.py
  backend/medias/tests/conftest.py
  backend/medias/tests/test_admin.py
  backend/medias/tests/test_serializers.py
  backend/medias/tests/test_validation_security.py
  frontend/src/features/projects/utils/authors/approval.utils.test.ts
  frontend/src/shared/components/editor/InlineSaveEditor.accessibility.test.tsx
  frontend/src/shared/components/editor/InlineSaveEditor.test.tsx
  frontend/src/shared/config/content-types.config.test.ts
Due: frontend-checks, backend-checks

fix: N+1 & test to account for drafts
  backend/documents/services/annual_report_service.py
  backend/documents/tests/test_views_list.py
  backend/documents/views/annual_report.py
  backend/documents/views/pdf.py
  backend/medias/tests/test_file_upload_integration.py
  backend/medias/tests/test_models.py
Due: backend-checks

Update annual_report.py
  backend/documents/views/annual_report.py
Due: backend-checks

fix: pdf generation now utilises upload media and works by polling database & fix iframe issue
  backend/config/urls.py
  backend/documents/migrations/0015_annualreport_pdf_generation_progress.py
  backend/documents/models.py
  backend/documents/services/annual_report_service.py
  backend/documents/templates/annual_report.html
  backend/documents/tests/test_annual_report_generation.py
  backend/documents/tests/test_views_list.py
  frontend/src/features/reports/components/current/PrintPreviewTab.tsx
Due: frontend-checks, backend-checks

fix: sentry issues
  backend/documents/services/annual_report_service.py
  backend/documents/services/approval_service.py
Due: backend-checks

fix: editing permissions on admin pages
  frontend/src/features/admin/components/branches/BranchForm.tsx
  frontend/src/features/admin/components/business-areas/BusinessAreaForm.tsx
  frontend/src/features/admin/components/divisions/DivisionForm.tsx
  frontend/src/features/admin/components/services/ServiceForm.tsx
  frontend/src/features/reports/components/current/ApprovedTab.tsx
  frontend/src/features/reports/components/current/DetailsTab.tsx
  frontend/src/features/reports/components/current/PendingTab.tsx
Due: frontend-checks

fix crud issues
  frontend/src/features/admin/components/branches/BranchForm.tsx
  frontend/src/features/admin/components/services/ServiceForm.tsx
Due: frontend-checks

test: add more coverage
  backend/agencies/tests/test_views_business_areas.py
  backend/agencies/tests/test_views_business_areas_coverage.py
  backend/agencies/tests/test_views_divisions.py
  backend/documents/tests/test_services_progress.py
  backend/documents/tests/test_views_annual_report_pdf.py
  backend/medias/tests/test_migrate_pdf_files.py
  backend/projects/tests/test_views_members.py
  backend/projects/tests/test_views_reports.py
  backend/quotes/tests/test_views_coverage.py
Due: backend-checks

fix: prevent invalid division id
  backend/documents/views/annual_report.py
Due: backend-checks

chore: fix pdf generation lock race condition
  backend/documents/services/annual_report_service.py
Due: backend-checks

ref: mobile responsiveness crud pages
  frontend/src/features/admin/components/data-lists/DataListsTabs.tsx
  frontend/src/features/admin/components/report-info/ReportInfoList.tsx
  frontend/src/features/admin/components/shared/CrudHeader.tsx
  frontend/src/features/projects/components/form/EditProjectForm.tsx
  frontend/src/features/projects/components/wizard/steps/ProjectDetailsStep.tsx
  frontend/src/features/reports/components/PublishedReportsList.tsx
  frontend/src/features/reports/components/business-area/BusinessAreaLeadView.tsx
  frontend/src/features/reports/components/current/PrintPreviewTab.tsx
  frontend/src/features/reports/components/division/MyDivisionView.tsx
  frontend/src/features/users/components/modals/EditOrgMembershipModal.tsx
  frontend/src/pages/reports/LatestReportPage.tsx
  frontend/src/shared/components/media/previews/ReportMediaLivePreview.tsx
Due: frontend-checks

Update DataListsTabs.tsx
  frontend/src/features/admin/components/data-lists/DataListsTabs.tsx
Due: frontend-checks

fix: resolve all test failures and ESLint errors for CI
  backend/adminoptions/tests/test_views.py
  backend/documents/services/approval_service.py
  backend/documents/services/notification_service.py
  backend/documents/tests/test_admin.py
  backend/documents/tests/test_services_core.py
  backend/documents/tests/test_services_generation.py
  backend/documents/tests/test_views_detail.py
  backend/documents/tests/test_views_list.py
  backend/documents/views/approval.py
  backend/projects/tests/test_admin.py
  backend/projects/tests/test_serializers.py
  backend/quotes/tests/test_admin.py
  backend/users/tests/test_admin.py
  frontend/src/features/guide/components/KBAdminEditPanel.tsx
  frontend/src/features/guide/components/KBArticleAccordion.tsx
  frontend/src/features/guide/components/KBCategoryCard.tsx
  frontend/src/features/users/hooks/useUserExistenceCheck.ts
  frontend/src/pages/admin/EmailTestingPage.tsx
  frontend/src/shared/components/documents/UnifiedDocumentActionModal.test.tsx
Due: frontend-checks, backend-checks

fix: resolve all ESLint errors and pre-commit warnings
  frontend/eslint.config.js
  frontend/src/features/guide/components/KBAdminEditPanel.tsx
  frontend/src/features/guide/components/KBCategoryCard.tsx
  frontend/src/features/users/hooks/useUserExistenceCheck.ts
Due: frontend-checks

test: add coverage tests to reach 80% threshold
  backend/adminoptions/tests/test_views_coverage.py
  backend/users/tests/test_views_invite.py
  backend/users/tests/test_views_profiles.py
Due: backend-checks

fix: resolve CodeQL issues, fix binary corruption, protect media files
  .gitattributes
  .pre-commit-config.yaml
  backend/adminoptions/views.py
  backend/config/helpers.py
  backend/documents/views/admin.py
Due: backend-checks

fix: update send all emails to account for RO-FS
  backend/adminoptions/views.py
Due: backend-checks

fix, style: adjust email template with better styled test banner & add actioning user
  backend/config/helpers.py
  backend/documents/services/email_service.py
Due: backend-checks

feat: overhaul Open New Cycle as dedicated page with IT Assets validation
  backend/adminoptions/migrations/0017_add_new_cycle_draft.py
  backend/adminoptions/models.py
  backend/adminoptions/tests/test_views_new_cycle_draft.py
  backend/adminoptions/urls.py
  backend/adminoptions/views.py
  backend/documents/services/notification_service.py
  backend/documents/templates/email_templates/new_cycle_open_email.html
  backend/documents/tests/test_views_new_cycle.py
  backend/documents/urls.py
  backend/documents/views/__init__.py
  backend/documents/views/admin.py
  backend/documents/views/notifications.py
  frontend/bun.lock
  frontend/package.json
  frontend/server.js
  frontend/src/app/stores/derived/new-cycle.store.test.ts
  frontend/src/app/stores/derived/new-cycle.store.ts
  frontend/src/features/admin/components/actions/DivisionYearSafeguard.tsx
  frontend/src/features/admin/components/actions/NewCycleContent.tsx
  frontend/src/features/admin/components/new-cycle/NewCycleCustomMessage.tsx
  frontend/src/features/admin/components/new-cycle/NewCycleEmailPreview.tsx
  frontend/src/features/admin/components/new-cycle/NewCycleRecipientSection.tsx
  frontend/src/features/admin/hooks/useAdminActions.ts
  frontend/src/features/admin/services/admin.endpoints.ts
  frontend/src/features/admin/services/admin.service.test.ts
  frontend/src/features/admin/services/admin.service.ts
  frontend/src/features/reports/components/division/MyDivisionView.tsx
  frontend/src/pages/admin/NewCyclePage.a11y.test.tsx
  frontend/src/pages/admin/NewCyclePage.tsx
  frontend/src/pages/projects/ProjectCreateWizardPage.tsx
  frontend/src/shared/components/editor/plugins/FloatingLinkToolbar.tsx
  frontend/src/shared/components/editor/toolbar/Toolbar.tsx
  frontend/src/shared/components/layout/ARActionDialogs.tsx
  frontend/src/shared/components/layout/FormPreviewToggle.tsx
  frontend/src/shared/components/layout/ManageDropdownContent.tsx
  frontend/src/shared/hooks/queries/useBumpEmails.ts
  frontend/src/shared/services/document.endpoints.ts
  frontend/src/shared/types/editor.types.ts
Due: frontend-checks, backend-checks

fix: new cycle page polish and editor toolbar scoping
  backend/documents/views/admin.py
  frontend/src/app/stores/derived/editor.store.ts
  frontend/src/app/stores/derived/new-cycle.store.ts
  frontend/src/features/admin/components/new-cycle/NewCycleEmailPreview.tsx
  frontend/src/pages/admin/NewCyclePage.tsx
  frontend/src/shared/components/editor/RichTextEditor.tsx
  frontend/src/shared/components/editor/plugins/EditorStoreIntegrationPlugin.tsx
  frontend/src/shared/components/editor/plugins/FloatingLinkToolbar.tsx
  frontend/src/shared/components/editor/toolbar/BaseToolbarButton.tsx
  frontend/src/shared/components/editor/toolbar/ClearEditorButton.tsx
  frontend/src/shared/components/editor/toolbar/ListButton.tsx
  frontend/src/shared/components/editor/toolbar/Toolbar.tsx
  frontend/src/shared/types/editor.types.ts
Due: frontend-checks, backend-checks

fix: failing tests, address sec concerns
  backend/documents/views/pdf.py
  frontend/src/features/projects/components/modals/CreateProgressReportModal.test.tsx
  frontend/src/features/projects/hooks/useDocumentMutations.test.tsx
  frontend/src/features/reports/services/business-area.service.test.ts
Due: frontend-checks, backend-checks

update pdf test file name so not removed
  backend/documents/services/pdf_test_service.py
  backend/documents/tests/test_test_pdf_service.py
  backend/documents/views/pdf.py
Due: backend-checks

address codeql
  backend/Dockerfile
  backend/projects/views/admin.py
  frontend/src/features/guide/components/KBArticleSections.tsx
Due: frontend-checks, backend-checks

test: adjust hypothesis deadline to account for ci speed
  backend/documents/tests/test_approval_recipients.py
  frontend/src/shared/components/editor/FormRichTextEditor.tsx
  frontend/src/shared/components/editor/InlineSaveEditor.tsx
Due: frontend-checks, backend-checks

style,chore: tab fixes; update deps
  frontend/bun.lock
  frontend/package.json
  frontend/src/features/admin/components/data-lists/DataListsTabs.test.ts
  frontend/src/features/admin/components/data-lists/ProblematicProjectsTab.tsx
  frontend/src/features/caretakers/components/CaretakerDocumentsTabContent.tsx
  frontend/src/features/caretakers/components/CaretakerSection.tsx
  frontend/src/features/dashboard/components/DocumentTasksTabContent.tsx
  frontend/src/features/dashboard/components/MyTasksSection.tsx
  frontend/src/features/dashboard/components/index.ts
  frontend/src/pages/dash/Dashboard.tsx
  frontend/src/shared/components/CollapsibleCard.tsx
Due: frontend-checks

Update setup.ts
  frontend/src/test/setup.ts
Due: frontend-checks

feat: scope directorate docs to division roles and redesign dashboard
  backend/caretakers/services/task_service.py
  backend/caretakers/tests/test_services.py
  backend/documents/services/document_service.py
  backend/documents/views/admin.py
  frontend/src/features/dashboard/components/DocumentTasksTabContent.tsx
  frontend/src/pages/dash/Dashboard.tsx
Due: frontend-checks, backend-checks

chore: update emails, rich text allowed types, recipients & tests
  backend/config/helpers.py
  backend/config/tests/test_email_helpers.py
  backend/documents/services/approval_service.py
  backend/documents/services/notification_service.py
  backend/documents/templates/email_templates/document_approved_email.html
  backend/documents/templates/email_templates/document_ready_email.html
  backend/documents/tests/test_action_recipients.py
  backend/documents/tests/test_views_permissions.py
  backend/documents/urls.py
  backend/documents/utils/helpers.py
  backend/documents/views/__init__.py
  backend/documents/views/actions.py
  backend/documents/views/approval.py
  backend/poetry.lock
  backend/projects/tests/test_views_drafts.py
  backend/users/tests/test_views.py
  frontend/bun.lock
  frontend/package.json
  frontend/src/features/projects/components/form/EditProjectForm.tsx
  frontend/src/features/projects/components/tabs/OverviewTab.tsx
  frontend/src/features/projects/components/tabs/ProgressReportsTab.tsx
  frontend/src/features/projects/components/tabs/StudentReportsTab.tsx
  frontend/src/features/projects/components/wizard/steps/BaseInformationStep.tsx
  frontend/src/features/projects/components/wizard/steps/ExternalDetailsStep.tsx
  frontend/src/features/staff-profiles/components/modals/EditOverviewFieldModal.tsx
  frontend/src/shared/components/documents/UnifiedDocumentActionModal.test.tsx
  frontend/src/shared/components/documents/UnifiedDocumentActionModal.tsx
  frontend/src/shared/components/editor/RichTextEditor.tsx
  frontend/src/shared/components/editor/plugins/FloatingLinkToolbar.tsx
  frontend/src/shared/components/editor/plugins/OnChangePlugin.tsx
  frontend/src/shared/components/editor/plugins/PastePlugin.tsx
  frontend/src/shared/components/editor/toolbar/Toolbar.tsx
  frontend/src/shared/components/editor/toolbar/toolbar-configs.ts
  frontend/src/shared/components/editor/toolbar/toolbar-nodes.ts
  frontend/src/shared/hooks/queries/useActionRecipients.ts
  frontend/src/shared/types/editor.types.ts
Due: frontend-checks, backend-checks

Update OnChangePlugin.tsx
  frontend/src/shared/components/editor/plugins/OnChangePlugin.tsx
Due: frontend-checks

Readd media files, adjust gitattributes, adjust email templates
  backend/.gitattributes
  backend/adminoptions/tests/test_views_coverage.py
  backend/adminoptions/tests/test_views_send_all_emails.py
  backend/adminoptions/views.py
  backend/config/dbca.jpg
  backend/documents/assets/BCSTransparent.png
  backend/documents/assets/BCSTransparentCropped.png
  backend/documents/assets/dbca.jpg
  backend/documents/assets/dbca.png
  backend/documents/assets/dbca_email.png
  backend/documents/assets/image_not_available.png
  backend/documents/assets/source.png
  backend/documents/static/images/BCSTransparent.png
  backend/documents/static/images/BCSTransparentCropped.png
  backend/documents/static/images/dbca.jpg
  backend/documents/static/images/dbca.png
  backend/documents/static/images/dbca_email.png
  backend/documents/templates/email_templates/new_cycle_open_email.html
  backend/documents/templates/email_templates/partials/_action_button.html
  backend/documents/templates/email_templates/partials/_base_open.html
  backend/documents/templates/email_templates/partials/_celebration_banner.html
  backend/documents/templates/email_templates/partials/_footer.html
Due: backend-checks

Readd media files, adjust gitattributes, adjust email templates
  backend/.gitattributes
Due: backend-checks

Update notification_service.py
  backend/documents/services/notification_service.py
Due: backend-checks

fix: business area cache invalidation
  backend/agencies/views/business_areas.py
  frontend/src/features/admin/components/business-areas/BusinessAreaPageForm.tsx
  frontend/src/features/admin/hooks/useBusinessAreas.ts
  frontend/src/features/reports/components/business-area/BusinessAreaEditForm.tsx
  frontend/src/features/reports/components/business-area/BusinessAreaLeadView.tsx
  frontend/src/features/reports/hooks/useBusinessAreaLead.ts
  frontend/src/features/reports/hooks/useReports.ts
Due: frontend-checks, backend-checks

Path conditions:
  frontend-checks: any of: ^frontend/, but not: (?x)^(
    \.git/.*|
    \.github/.*|
    \.kiro/.*|
    node_modules/.*|
    __pycache__/.*|
    \.venv/.*|
    venv/.*|
    build/.*|
    dist/.*|
    coverage/.*|
    staticfiles/.*|
    migrations/.*
)$

  backend-checks: any of: ^backend/, but not: (?x)^(
    \.git/.*|
    \.github/.*|
    \.kiro/.*|
    node_modules/.*|
    __pycache__/.*|
    \.venv/.*|
    venv/.*|
    build/.*|
    dist/.*|
    coverage/.*|
    staticfiles/.*|
    migrations/.*
)$

