Repository dbca-wa/science-projects-client: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-checks, backend-checks

frontend-checks:
  name: Frontend pre-commit checks
  entry: ./.pre-commit-frontend-wrapper.sh
  language: script
  pass_filenames: false
  verbose: true

backend-checks:
  name: Backend pre-commit checks
  entry: ./.pre-commit-backend-wrapper.sh
  language: script
  pass_filenames: false
  verbose: true

ref: remove mandrill, prevent N+1, update deps
  backend/.env.example
  backend/agencies/services/agency_service.py
  backend/agencies/views/branches.py
  backend/agencies/views/business_areas.py
  backend/agencies/views/divisions.py
  backend/common/query_helpers.py
  backend/config/settings.py
  backend/documents/services/document_service.py
  backend/documents/views/admin.py
  backend/documents/views/annual_report.py
  backend/documents/views/closure.py
  backend/documents/views/endorsement.py
  backend/documents/views/progress_report.py
  backend/documents/views/project_plan.py
  backend/documents/views/student_report.py
  backend/poetry.lock
  backend/projects/services/project_service.py
  backend/projects/views/admin.py
  backend/projects/views/utils.py
  backend/pyproject.toml
  frontend/bun.lock
Due: frontend-checks, backend-checks

feat: Add announcement & home page banner, seed announcement
  backend/adminoptions/admin.py
  backend/adminoptions/management/commands/kb_content/admin.py
  backend/adminoptions/management/commands/seed_knowledge_base.py
  backend/adminoptions/migrations/0018_add_homepage_banner_fields.py
  backend/adminoptions/models.py
  backend/adminoptions/serializers.py
  backend/adminoptions/tests/test_send_announcement_service.py
  backend/adminoptions/tests/test_views_announcement_banner.py
  backend/adminoptions/urls.py
  backend/adminoptions/views.py
  backend/documents/services/notification_service.py
  backend/documents/templates/email_templates/announcement_email.html
  frontend/src/app/router/routes.config.ts
  frontend/src/app/stores/derived/announcement.store.ts
  frontend/src/features/admin/components/shared/AnnouncementContent.tsx
  frontend/src/features/admin/components/shared/AnnouncementCustomMessage.tsx
  frontend/src/features/admin/components/shared/BannerContent.tsx
  frontend/src/features/admin/components/shared/EmailPreview.tsx
  frontend/src/features/admin/components/shared/HomepageBanner.tsx
  frontend/src/features/admin/components/shared/RecipientSection.tsx
  frontend/src/features/admin/hooks/useAnnouncement.ts
  frontend/src/features/admin/hooks/useHomepageBanner.ts
  frontend/src/features/guide/components/KBCategoryCard.tsx
  frontend/src/features/projects/components/overview/ProjectActionsDropdown.tsx
  frontend/src/features/projects/components/wizard/WizardContainer.tsx
  frontend/src/pages/admin/AdminTestPage.tsx
  frontend/src/pages/admin/NewCyclePage.tsx
  frontend/src/pages/dash/Dashboard.tsx
  frontend/src/pages/projects/ProjectDetailPage.tsx
  frontend/src/shared/components/documents/DocumentActionsSection.tsx
  frontend/src/shared/components/layout/HeaderContent.tsx
  frontend/src/shared/components/layout/ManageDropdownContent.test.ts
  frontend/src/shared/components/layout/ManageDropdownContent.tsx
  frontend/src/shared/components/layout/NavitarContent.tsx
  frontend/src/shared/constants/allowedDocumentTypes.ts
  frontend/src/shared/utils/caretaker.utils.ts
Due: frontend-checks, backend-checks

Update test_send_announcement_service.py
  backend/adminoptions/tests/test_send_announcement_service.py
Due: backend-checks

fix: Scroll to top on wizard step change
  frontend/src/features/projects/components/wizard/WizardContainer.tsx
  frontend/src/shared/components/layout/AppLayout.tsx
Due: frontend-checks

refactor: Remove Address model and unused admin CRUD pages, update banner
  backend/adminoptions/management/commands/seed_knowledge_base.py
  backend/agencies/serializers.py
  backend/contacts/admin.py
  backend/contacts/migrations/0003_remove_address_model.py
  backend/contacts/models.py
  backend/contacts/serializers.py
  backend/contacts/services/contact_service.py
  backend/contacts/tests/conftest.py
  backend/contacts/tests/test_admin.py
  backend/contacts/tests/test_serializers.py
  backend/contacts/tests/test_services.py
  backend/contacts/tests/test_views.py
  backend/contacts/urls.py
  backend/contacts/views/__init__.py
  backend/contacts/views/addresses.py
  frontend/src/app/router/routes.config.ts
  frontend/src/features/admin/components/addresses/AddressForm.tsx
  frontend/src/features/admin/components/addresses/AddressList.tsx
  frontend/src/features/admin/components/locations/LocationForm.tsx
  frontend/src/features/admin/components/locations/LocationList.tsx
  frontend/src/features/admin/hooks/useAddresses.ts
  frontend/src/features/admin/hooks/useAdminHooks.test.ts
  frontend/src/features/admin/hooks/useLocations.ts
  frontend/src/features/admin/services/admin.endpoints.ts
  frontend/src/features/admin/services/admin.service.test.ts
  frontend/src/features/admin/services/admin.service.ts
  frontend/src/features/admin/types/admin.types.ts
  frontend/src/pages/admin/AddressesPage.tsx
  frontend/src/pages/admin/LocationsPage.a11y.test.tsx
  frontend/src/pages/admin/LocationsPage.tsx
  frontend/src/shared/types/org.types.ts
Due: frontend-checks, backend-checks

fix: login and collabsiblecard
  backend/adminoptions/management/commands/seed_knowledge_base.py
  frontend/src/app/router/guards/auth.guard.test.tsx
  frontend/src/app/router/guards/auth.guard.tsx
  frontend/src/features/dashboard/components/DocumentTasksTabContent.tsx
  frontend/src/pages/auth/Login.tsx
  frontend/src/shared/components/CollapsibleCard.tsx
  frontend/src/shared/services/api/client.service.test.ts
  frontend/src/shared/services/api/client.service.ts
Due: frontend-checks, backend-checks

ref: ensure Aus English, DRY branchselect
  frontend/src/features/projects/components/wizard/steps/ExternalDetailsStep.tsx
  frontend/src/features/users/components/MembershipSection.tsx
  frontend/src/features/users/components/StaffUserForm.tsx
  frontend/src/features/users/components/UserDetailSheet.tsx
  frontend/src/features/users/components/UserEditForm.tsx
  frontend/src/features/users/components/modals/EditOrgMembershipModal.tsx
  frontend/src/shared/components/BranchSelect.tsx
  frontend/src/shared/hooks/queries/useBranches.ts
Due: frontend-checks

Update DataListsTabs.test.ts
  frontend/src/features/admin/components/data-lists/DataListsTabs.test.ts
Due: frontend-checks

chore: various bugfixes
  .gitignore
  backend/.dockerignore
  backend/.gitignore
  backend/Dockerfile
  frontend/src/features/reports/components/current/MediaTab.tsx
  frontend/src/shared/components/BusinessAreaSelectItems.tsx
  frontend/src/shared/services/logger.service.ts
  frontend/vite.config.ts
Due: frontend-checks, backend-checks

various bugfixes
  frontend/vite.config.ts
Due: frontend-checks

ref: derive host for build
  frontend/src/app/sentry.ts
  frontend/src/shared/components/layout/staff-profile/StaffProfileHeader.tsx
  frontend/src/shared/services/api/config.ts
  frontend/src/shared/services/logger.service.ts
Due: frontend-checks

fix(frontend): runtime origin detection takes precedence over build-time env vars
  frontend/src/app/sentry.ts
  frontend/src/shared/components/layout/staff-profile/StaffProfileHeader.tsx
  frontend/src/shared/services/api/config.ts
Due: frontend-checks

fix(frontend): route API calls to scienceprojects domain even when on science-profiles
  frontend/src/shared/components/layout/HeaderContent.tsx
  frontend/src/shared/components/layout/NavitarContent.tsx
  frontend/src/shared/components/layout/staff-profile/StaffProfileHeader.tsx
  frontend/src/shared/services/api/config.ts
  frontend/src/shared/utils/profiles-url.utils.ts
Due: frontend-checks

fix(frontend): allow cross-subdomain API calls in production CSP
  frontend/vite.config.ts
Due: frontend-checks

style: staff profile feedback on email send
  frontend/src/features/staff-profiles/components/modals/EmailStaffModal.tsx
Due: frontend-checks

fix: user selection announcements
  backend/tests/test_admin_smoke.py
  frontend/src/app/stores/derived/announcement.store.ts
  frontend/src/app/stores/derived/new-cycle.store.ts
  frontend/src/features/admin/components/shared/AnnouncementContent.tsx
  frontend/src/features/admin/components/shared/RecipientSection.tsx
  frontend/src/features/staff-profiles/components/modals/EmailStaffModal.tsx
  frontend/src/pages/admin/NewCyclePage.tsx
Due: frontend-checks, backend-checks

fix: user selection announcements
  frontend/src/app/router/guards/auth.guard.tsx
  frontend/src/features/staff-profiles/components/modals/EmailStaffModal.tsx
Due: frontend-checks

fix: dash logic
  frontend/src/features/dashboard/components/MyTasksSection.tsx
Due: frontend-checks

fix: email selection
  backend/adminoptions/views.py
  backend/documents/services/notification_service.py
  backend/documents/views/notifications.py
  frontend/src/features/admin/components/shared/AnnouncementContent.tsx
  frontend/src/features/admin/hooks/useAdminActions.ts
  frontend/src/features/admin/hooks/useAnnouncement.ts
  frontend/src/features/staff-profiles/components/modals/EmailStaffModal.tsx
  frontend/src/pages/admin/NewCyclePage.tsx
  frontend/src/shared/components/SuccessAnimation.tsx
Due: frontend-checks, backend-checks

ci: update approach to versioning
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-staging.yml
  frontend/Dockerfile
  frontend/src/app/sentry.ts
  frontend/src/shared/components/layout/Footer.tsx
  frontend/src/shared/components/layout/staff-profile/StaffProfileHeader.tsx
  frontend/src/shared/services/api/config.ts
  frontend/src/shared/services/logger.service.ts
Due: frontend-checks

docs: adjust readme
  README.md
  frontend/index.html
Due: frontend-checks

chore: adjust docs
  README.md
  backend/README.md
  frontend/index.html
Due: frontend-checks, backend-checks

chore: update deps
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-staging.yml
  backend/adminoptions/tests/test_views_announcement_banner.py
  backend/poetry.lock
  frontend/bun.lock
  frontend/package.json
Due: frontend-checks, backend-checks

chore: add scanning for sec team
  .github/workflows/deploy-prod.yml
Due: none

ci: sec scan
  .github/workflows/deploy-prod.yml
Due: none

fix: project permissions, BA update, deletion request, map layers, and KB content
  backend/adminoptions/management/commands/kb_content/editing_projects.py
  backend/adminoptions/management/commands/kb_content/sections.py
  backend/adminoptions/management/commands/kb_content/team_management.py
  backend/adminoptions/management/commands/seed_knowledge_base.py
  backend/agencies/views/business_areas.py
  backend/poetry.lock
  frontend/bun.lock
  frontend/package.json
  frontend/src/app/stores/derived/project-map.store.test.ts
  frontend/src/app/stores/derived/project-map.store.ts
  frontend/src/features/guide/components/KBCategoryCard.tsx
  frontend/src/features/guide/components/KBSearchResults.tsx
  frontend/src/features/projects/components/map/LayerPopover.test.tsx
  frontend/src/features/projects/components/map/LayerPopover.tsx
  frontend/src/features/projects/components/modals/RequestDeleteProjectModal.tsx
  frontend/src/features/projects/components/overview/EditProjectButton.tsx
  frontend/src/features/projects/components/overview/ProjectActionsDropdown.tsx
  frontend/src/features/projects/components/tabs/OverviewTab.tsx
  frontend/src/features/projects/components/wizard/WizardPreviewPanel.tsx
  frontend/src/features/projects/components/wizard/steps/BaseInformationStep.tsx
  frontend/src/features/projects/hooks/useDeleteProject.ts
  frontend/src/pages/projects/EditProjectPage.tsx
  frontend/src/shared/components/editor/toolbar/toolbar-configs.ts
  frontend/src/shared/components/layout/Header.tsx
  frontend/src/shared/types/editor.types.ts
  frontend/src/shared/utils/project-permissions.utils.ts
Due: frontend-checks, backend-checks

fix: N+1 on guide sections
  backend/adminoptions/serializers.py
  backend/adminoptions/views.py
Due: backend-checks

hotfix; auth flow
  frontend/src/app/stores/derived/auth.store.ts
Due: frontend-checks

fix: email template context, problematic projects detection and remedy overhaul
  backend/adminoptions/views.py
  backend/agencies/tests/test_views_business_areas.py
  backend/agencies/views/business_areas.py
  backend/documents/services/notification_service.py
  backend/documents/tests/test_notification_email_context.py
  backend/poetry.lock
  backend/projects/services/member_service.py
  backend/projects/tests/test_remedy_external_leaders.py
  backend/projects/tests/test_remedy_multiple_leaders.py
  backend/projects/tests/test_remedy_no_leader.py
  backend/projects/tests/test_remedy_role_mismatch.py
  backend/projects/tests/test_services.py
  backend/projects/urls.py
  backend/projects/views/__init__.py
  backend/projects/views/admin.py
  frontend/bun.lock
  frontend/package.json
  frontend/src/app/router/routes.config.ts
  frontend/src/features/admin/components/data-lists/DataListsTabs.test.ts
  frontend/src/features/admin/components/data-lists/DataListsTabs.tsx
  frontend/src/features/admin/components/data-lists/ProblematicProjectsTab.tsx
  frontend/src/features/admin/hooks/useAnnouncement.test.ts
  frontend/src/features/admin/hooks/useDataLists.ts
  frontend/src/features/admin/services/admin.endpoints.ts
  frontend/src/features/admin/services/admin.service.test.ts
  frontend/src/features/admin/services/admin.service.ts
  frontend/src/features/admin/types/admin.types.ts
  frontend/src/features/projects/components/team/TeamMemberCard.tsx
  frontend/src/features/projects/components/team/TeamMemberSheet.tsx
  frontend/src/features/projects/components/team/TeamRoleBadge.tsx
  frontend/src/features/reports/components/business-area/BusinessAreaLeadView.tsx
  frontend/src/shared/components/layout/HeaderContent.tsx
  frontend/src/shared/components/layout/ManageDropdownContent.tsx
  frontend/src/shared/hooks/queries/useBumpEmails.test.ts
  frontend/src/shared/services/document.service.test.ts
Due: frontend-checks, backend-checks

fix,chore: update deps, closure service fix for full approval
  backend/documents/services/closure_service.py
  backend/documents/tests/test_closure_auto_approval.py
  backend/poetry.lock
  frontend/bun.lock
  frontend/package.json
  frontend/src/features/projects/components/modals/ProjectClosureModal.tsx
  frontend/src/features/projects/hooks/useCloseProject.ts
Due: frontend-checks, backend-checks

chore: update deps
  backend/Dockerfile
Due: backend-checks

chore: update princexml
  backend/Dockerfile
Due: backend-checks

Update gitignore
  .gitignore
Due: none

Update Kustomize resources: storage acct secret, blob container PVCs, alter deployment mounts
  kustomize/base/deployment.yaml
  kustomize/overlays/prod/deployment_patch.yaml
  kustomize/overlays/prod/kustomization.yaml
  kustomize/overlays/prod/media_pvc.yaml
  kustomize/overlays/test/deployment_patch.yaml
  kustomize/overlays/test/kustomization.yaml
  kustomize/overlays/test/media_pvc.yaml
Due: none

Update mention_utils.py
  backend/communications/utils/mention_utils.py
Due: backend-checks

style,fix: mentions properly spaced, annual report deletion displays what will be deleted and requires confirmation, problematic projects updated
  backend/documents/urls.py
  backend/documents/views/__init__.py
  backend/documents/views/annual_report.py
  backend/projects/views/admin.py
  frontend/bun.lock
  frontend/src/features/admin/components/data-lists/ProblematicProjectsTab.tsx
  frontend/src/features/admin/components/report-info/DeleteAnnualReportDialog.tsx
  frontend/src/features/admin/components/report-info/ReportInfoList.tsx
  frontend/src/features/projects/components/comments/CommentMentionsPlugin.tsx
  frontend/src/features/projects/components/comments/PrepopulateHTMLPlugin.tsx
Due: frontend-checks, backend-checks

fix,chore: enable word copy paste preservation, update deps
  backend/poetry.lock
  frontend/.prettierignore
  frontend/bun.lock
  frontend/package.json
  frontend/src/shared/components/editor/plugins/PastePlugin.tsx
  frontend/src/shared/components/editor/utils/__fixtures__/word-desktop-samples.ts
  frontend/src/shared/components/editor/utils/__fixtures__/word-online-samples.ts
  frontend/src/shared/components/editor/utils/word-cleanup.ts
  frontend/src/shared/components/editor/utils/word-converter.test.ts
  frontend/src/shared/components/editor/utils/word-converter.ts
  frontend/src/shared/components/editor/utils/word-detector.test.ts
  frontend/src/shared/components/editor/utils/word-detector.ts
  frontend/src/shared/components/editor/utils/word-formatting.test.ts
  frontend/src/shared/components/editor/utils/word-formatting.ts
  frontend/src/shared/components/editor/utils/word-headings.test.ts
  frontend/src/shared/components/editor/utils/word-headings.ts
  frontend/src/shared/components/editor/utils/word-lists.ts
  frontend/src/shared/styles/editor.css
  frontend/src/shared/utils/sanitise.utils.ts
Due: frontend-checks, backend-checks

fix: invalidate query keys on save
  frontend/src/shared/config/content-types.config.ts
Due: frontend-checks

Path conditions:
  frontend-checks: any of: ^frontend/, but not: (?x)^(
    \.git/.*|
    \.github/.*|
    \.kiro/.*|
    node_modules/.*|
    __pycache__/.*|
    \.venv/.*|
    venv/.*|
    build/.*|
    dist/.*|
    coverage/.*|
    staticfiles/.*|
    migrations/.*
)$

  backend-checks: any of: ^backend/, but not: (?x)^(
    \.git/.*|
    \.github/.*|
    \.kiro/.*|
    node_modules/.*|
    __pycache__/.*|
    \.venv/.*|
    venv/.*|
    build/.*|
    dist/.*|
    coverage/.*|
    staticfiles/.*|
    migrations/.*
)$

