Repository dbca-wa/science-projects-client: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-checks, backend-checks

frontend-checks:
  name: Frontend pre-commit checks
  entry: ./.pre-commit-frontend-wrapper.sh
  language: script
  pass_filenames: false
  verbose: true

backend-checks:
  name: Backend pre-commit checks
  entry: ./.pre-commit-backend-wrapper.sh
  language: script
  pass_filenames: false
  verbose: true

fix: projects created without area due to image save bug
  backend/projects/serializers/base.py
  backend/projects/tests/test_orphaned_project_regression.py
  backend/projects/views/crud.py
  frontend/src/features/projects/components/wizard/steps/BaseInformationStep.tsx
  frontend/src/shared/components/media/ImageUpload.tsx
  frontend/src/shared/utils/image-compression.utils.test.ts
  frontend/src/shared/utils/image-compression.utils.ts
Due: frontend-checks, backend-checks

ref: pixelRatio / canvasWidth considerations
  frontend/src/shared/components/media/AdjustImageModal.tsx
  frontend/src/shared/utils/image-canvas.utils.ts
Due: frontend-checks

fix: handle rejected image uploads without 500s or orphaned files
  backend/config/exception_handlers.py
  backend/config/settings.py
  backend/config/tests/test_exception_handlers.py
  backend/projects/serializers/export.py
  backend/projects/tests/test_orphaned_project_regression.py
  backend/projects/views/crud.py
  frontend/src/shared/components/media/AdjustImageModal.tsx
  frontend/src/shared/components/media/ImageUpload.tsx
Due: frontend-checks, backend-checks

ref: fix transaction safety, admin action bugs, and remove dead code
  backend/agencies/views/business_areas.py
  backend/documents/views/admin.py
  backend/documents/views/closure.py
  backend/documents/views/endorsement.py
  backend/documents/views/notifications.py
  backend/projects/services/project_service.py
  backend/projects/tests/test_services.py
  backend/projects/tests/test_utils.py
  backend/projects/utils/__init__.py
  backend/projects/utils/files.py
  backend/users/admin.py
  frontend/src/features/projects/hooks/useWizardPersistence.ts
Due: frontend-checks, backend-checks

chore: Add crown license
  LICENSE
Due: none

chore: update deps
  backend/poetry.lock
  frontend/bun.lock
  frontend/package.json
Due: frontend-checks, backend-checks

ref: adjust kustomize to always pull for staging with floating test tag
  .github/workflows/deploy-prod.yml
  kustomize/overlays/test/deployment_patch.yaml
  kustomize/overlays/test/kustomization.yaml
Due: none

fix: add pull --rebase before push in deploy jobs to prevent race condition
  .github/workflows/deploy-prod.yml
Due: none

chore: security pod compliance & dep updates
  backend/poetry.lock
  frontend/bun.lock
  frontend/package.json
  kustomize/base/deployment.yaml
Due: frontend-checks, backend-checks

chore: update deps & remove unsupported vite config setting
  backend/poetry.lock
  backend/pyproject.toml
  frontend/vite.config.ts
Due: frontend-checks, backend-checks

chore: update deps & vitest config
  backend/poetry.lock
  frontend/bun.lock
  frontend/package.json
  frontend/src/test/setup.ts
  frontend/src/test/vitest.d.ts
Due: frontend-checks, backend-checks

chore: fix lint errors, add pre-push enforcement and update deps
  .pre-commit-config.yaml
  .pre-push-backend-wrapper.sh
  .pre-push-frontend-wrapper.sh
  backend/.pre-commit-bandit-wrapper.sh
  frontend/.pre-commit-summary.sh
  frontend/src/app/router/guards/auth.guard.tsx
  frontend/src/features/projects/components/wizard/steps/BaseInformationStep.tsx
  frontend/src/features/projects/components/wizard/steps/ExternalDetailsStep.tsx
  frontend/src/shared/components/editor/toolbar/LinkEditorContext.tsx
Due: frontend-checks, backend-checks

chore: skip unknown file types in pre-commit prettier
  .pre-commit-frontend-wrapper.sh
Due: none

Path conditions:
  frontend-checks: any of: ^frontend/, but not: (?x)^(
    \.git/.*|
    \.github/.*|
    \.kiro/.*|
    node_modules/.*|
    __pycache__/.*|
    \.venv/.*|
    venv/.*|
    build/.*|
    dist/.*|
    coverage/.*|
    staticfiles/.*|
    migrations/.*
)$

  backend-checks: any of: ^backend/, but not: (?x)^(
    \.git/.*|
    \.github/.*|
    \.kiro/.*|
    node_modules/.*|
    __pycache__/.*|
    \.venv/.*|
    venv/.*|
    build/.*|
    dist/.*|
    coverage/.*|
    staticfiles/.*|
    migrations/.*
)$

