Repository dbca-wa/science-projects-client: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-checks, backend-checks

frontend-checks:
  name: Frontend pre-commit checks
  entry: ./.pre-commit-frontend-wrapper.sh
  language: script
  pass_filenames: false
  verbose: true

backend-checks:
  name: Backend pre-commit checks
  entry: ./.pre-commit-backend-wrapper.sh
  language: script
  pass_filenames: false
  verbose: true

fix: ts issues and bug
  .pre-commit-frontend-wrapper.sh
  frontend/src/features/projects/components/map/FullMapContainer.tsx
  frontend/src/features/projects/components/map/MapControls.tsx
  frontend/src/features/projects/components/map/ProjectMarker.tsx
  frontend/src/shared/utils/image-compression.performance.test.ts
  frontend/src/test/axe-utils.ts
  frontend/src/test/page-test-utils.tsx
Due: frontend-checks

fix,test: Ensure throttling config ready for tests, even if REDIS disabled
  backend/config/settings.py
Due: backend-checks

chore: update deps
  backend/poetry.lock
  frontend/bun.lock
  frontend/package.json
Due: frontend-checks, backend-checks

fix: gitignore media files
  .gitignore
  frontend/src/shared/components/media/AdjustImageModal.tsx
  frontend/src/shared/components/media/CropControls.tsx
  frontend/src/shared/components/media/ImageUpload.tsx
  frontend/src/shared/components/media/previews/AnnualReportLivePreview.tsx
  frontend/src/shared/components/media/previews/AvatarLivePreview.tsx
  frontend/src/shared/components/media/previews/LivePreviews.tsx
  frontend/src/shared/components/media/previews/ProjectCardLivePreview.tsx
  frontend/src/shared/components/media/previews/PublicProfileLivePreview.tsx
Due: frontend-checks

chore: update deps and adjsut crop controls
  backend/poetry.lock
  frontend/bun.lock
  frontend/package.json
  frontend/src/shared/components/media/CropControls.tsx
Due: frontend-checks, backend-checks

ref: Projects, CV, Publications tab
  backend/users/serializers/staff_profile.py
  backend/users/tests/test_views.py
  backend/users/views/profile_sections.py
  frontend/src/app/router/routes.config.ts
  frontend/src/features/staff-profiles/components/detail/CVSection.tsx
  frontend/src/features/staff-profiles/components/detail/ProjectsSection.tsx
  frontend/src/features/staff-profiles/components/detail/PublicationsSection.tsx
  frontend/src/features/staff-profiles/components/detail/StaffContentTabs.tsx
  frontend/src/features/staff-profiles/components/detail/StaffHero.tsx
  frontend/src/features/staff-profiles/components/modals/DeleteEntryModal.tsx
  frontend/src/features/staff-profiles/components/modals/EducationEntryModal.tsx
  frontend/src/features/staff-profiles/components/modals/EmploymentEntryModal.tsx
  frontend/src/features/staff-profiles/hooks/usePublications.ts
  frontend/src/features/staff-profiles/services/staff-profile.endpoints.ts
  frontend/src/features/staff-profiles/services/staff-profile.service.ts
  frontend/src/features/staff-profiles/types/staff-profile.types.ts
  frontend/src/pages/staff/StaffProfileDetailPage.tsx
  frontend/src/shared/utils/html-sanitise.utils.ts
Due: frontend-checks, backend-checks

chore: update deps
  backend/poetry.lock
  backend/pyproject.toml
  frontend/bun.lock
  frontend/package.json
  frontend/src/features/staff-profiles/components/detail/PublicationsSection.tsx
  frontend/src/features/staff-profiles/components/modals/EducationEntryModal.tsx
  frontend/src/features/staff-profiles/components/modals/EmploymentEntryModal.tsx
  frontend/vite.config.ts
Due: frontend-checks, backend-checks

style, ref: staff profiles design & hidden staff profile logic
  backend/users/serializers/staff_profile.py
  backend/users/services/profile_service.py
  backend/users/views/profile_sections.py
  backend/users/views/staff_profiles.py
  frontend/src/features/staff-profiles/components/detail/CVSection.tsx
  frontend/src/features/staff-profiles/components/detail/OverviewSection.tsx
  frontend/src/features/staff-profiles/components/detail/ProjectsSection.tsx
  frontend/src/features/staff-profiles/components/detail/PublicationsSection.tsx
  frontend/src/features/staff-profiles/components/detail/StaffContentTabs.tsx
  frontend/src/features/staff-profiles/components/detail/StaffHero.tsx
  frontend/src/features/staff-profiles/hooks/useStaffProfileMutations.ts
  frontend/src/features/staff-profiles/types/staff-profile.types.ts
  frontend/src/pages/staff/StaffProfileDetailPage.tsx
  frontend/src/shared/components/layout/Header.tsx
  frontend/src/shared/components/layout/HeaderContent.tsx
  frontend/src/shared/components/layout/NavitarContent.tsx
  frontend/src/shared/components/layout/staff-profile/StaffProfileHeader.tsx
  frontend/src/shared/components/ui/tooltip.tsx
Due: frontend-checks, backend-checks

ref,feat: add floating toolbar, fix link
  frontend/src/features/staff-profiles/components/directory/StaffProfileCard.tsx
  frontend/src/features/staff-profiles/components/modals/ResponsiveModal.tsx
  frontend/src/shared/components/editor/FormRichTextEditor.tsx
  frontend/src/shared/components/editor/RichTextEditor.tsx
  frontend/src/shared/components/editor/plugins/FloatingLinkToolbar.tsx
  frontend/src/shared/components/editor/plugins/LinkClickPlugin.tsx
  frontend/src/shared/components/editor/toolbar/InlineLinkForm.tsx
  frontend/src/shared/components/editor/toolbar/LinkButton.tsx
  frontend/src/shared/components/editor/toolbar/LinkEditorContext.tsx
  frontend/src/shared/components/editor/toolbar/Toolbar.tsx
  frontend/src/shared/components/editor/toolbar/link-editor.utils.ts
  frontend/src/shared/components/ui/dialog.tsx
  frontend/src/shared/components/ui/popover.tsx
  frontend/src/shared/styles/editor.css
  frontend/src/shared/types/editor.types.ts
  frontend/src/shared/utils/sanitise.utils.ts
Due: frontend-checks

ref: floating toolbar, staff entry validation
  frontend/src/features/projects/components/tabs/ProgressReportsTab.tsx
  frontend/src/features/projects/components/tabs/StudentReportsTab.tsx
  frontend/src/features/staff-profiles/components/modals/EducationEntryModal.tsx
  frontend/src/features/staff-profiles/components/modals/EmploymentEntryModal.tsx
  frontend/src/features/staff-profiles/components/modals/ResponsiveModal.tsx
  frontend/src/pages/staff/StaffProfileDetailPage.tsx
  frontend/src/shared/components/editor/InlineSaveEditor.tsx
  frontend/src/shared/components/editor/plugins/FloatingLinkToolbar.tsx
  frontend/src/shared/components/editor/toolbar/Toolbar.tsx
  frontend/src/shared/components/ui/dialog.tsx
  frontend/src/shared/types/editor.types.ts
Due: frontend-checks

Update dialog.test.tsx
  frontend/src/shared/components/ui/dialog.test.tsx
Due: frontend-checks

Update InlineSaveEditor.accessibility.test.tsx
  frontend/src/shared/components/editor/InlineSaveEditor.accessibility.test.tsx
Due: frontend-checks

adjust test to skip lexical as not reliably testable in ci
  frontend/src/shared/components/editor/InlineSaveEditor.accessibility.test.tsx
  frontend/src/shared/components/editor/InlineSaveEditor.test.tsx
Due: frontend-checks

ref: relocate useLinkEditor
  frontend/src/shared/components/editor/RichTextEditor.tsx
  frontend/src/shared/components/editor/plugins/FloatingLinkToolbar.tsx
  frontend/src/shared/components/editor/plugins/LinkClickPlugin.tsx
  frontend/src/shared/components/editor/toolbar/InlineLinkForm.tsx
  frontend/src/shared/components/editor/toolbar/LinkButton.tsx
  frontend/src/shared/components/editor/toolbar/LinkEditorContext.tsx
  frontend/src/shared/components/editor/toolbar/link-editor.utils.ts
Due: frontend-checks

fix: background end years, external api fail fallbacks
  backend/users/views/staff_profiles.py
  frontend/src/features/staff-profiles/components/detail/CVSection.tsx
  frontend/src/features/staff-profiles/components/detail/PublicationsSection.tsx
Due: frontend-checks, backend-checks

ref: django admin views to work correctly with better ux for filtering/searching
  .gitignore
  backend/.dockerignore
  backend/.gitignore
  backend/adminoptions/admin.py
  backend/categories/admin.py
  backend/common/utils/file_validation.py
  backend/communications/admin.py
  backend/config/settings.py
  backend/contacts/admin.py
  backend/contacts/tests/test_admin.py
  backend/documents/admin.py
  backend/medias/admin.py
  backend/medias/management/__init__.py
  backend/medias/management/commands/__init__.py
  backend/medias/tests/test_admin.py
  backend/medias/tests/test_file_upload_integration.py
  backend/projects/admin.py
  backend/tests/__init__.py
  backend/tests/test_admin_smoke.py
  backend/users/admin.py
  backend/users/views/user_profiles.py
  frontend/src/shared/services/api/client.service.ts
Due: frontend-checks, backend-checks

ref: improve query performance for staff profiles
  backend/tests/test_admin_smoke.py
  backend/users/views/staff_profiles.py
Due: backend-checks

ref: cache IT assets data for 600 seconds on detail view
  backend/users/views/profile_sections.py
Due: backend-checks

feat: add fallback LocMemCache instead of DummyCache to cache IT_ASSET responses for 5 minutes, without Redis infrastructure setup
  backend/config/cache_settings.py
Due: backend-checks

ref: adjust backend to send it_assets_available flag to frontend for properly informative message on IT_ASSETS service if no users returned
  backend/users/views/staff_profiles.py
  frontend/src/features/staff-profiles/types/staff-profile.types.ts
  frontend/src/pages/staff/StaffDirectoryPage.tsx
Due: frontend-checks, backend-checks

chore: fix N+1 query on additional avatar fetch for staff profiles; made prefetch_related
  backend/users/views/staff_profiles.py
Due: backend-checks

chore: adjust excepts to not expose errors directly
  .gitignore
  backend/.dockerignore
  backend/agencies/views/affiliations.py
  backend/agencies/views/business_areas.py
  backend/agencies/views/divisions.py
  backend/caretakers/services/request_service.py
  backend/caretakers/views/requests.py
  backend/common/utils/file_validation.py
  backend/communications/views/crud.py
  backend/config/dbca_middleware.py
  backend/config/urls.py
  backend/documents/services/email_service.py
  backend/documents/services/pdf_service.py
  backend/documents/tests/test_services_generation.py
  backend/documents/views/admin.py
  backend/documents/views/notifications.py
  backend/medias/management/commands/audit_media_files.py
  backend/projects/views/crud.py
  backend/templates/admin/medias/projectphoto/change_list.html
  backend/templates/admin/medias/useravatar/change_list.html
  backend/users/views/auth.py
  backend/users/views/staff_profiles.py
  backend/users/views/user_profiles.py
  frontend/src/features/staff-profiles/components/modals/EmailStaffModal.tsx
  frontend/vite.config.ts
Due: frontend-checks, backend-checks

chore: update tests to reflect new behaviour of file validator
  backend/common/tests/test_file_validation.py
Due: backend-checks

Update staff_profiles.py
  backend/users/views/staff_profiles.py
Due: backend-checks

Feat/staff profiles (#641)
  backend/.dockerignore
  backend/agencies/views/affiliations.py
  backend/agencies/views/business_areas.py
  backend/agencies/views/divisions.py
  backend/caretakers/services/request_service.py
  backend/caretakers/views/requests.py
  backend/common/tests/test_file_validation.py
  backend/common/utils/file_validation.py
  backend/communications/views/crud.py
  backend/config/dbca_middleware.py
  backend/config/urls.py
  backend/documents/services/email_service.py
  backend/documents/services/pdf_service.py
  backend/documents/tests/test_services_generation.py
  backend/documents/views/admin.py
  backend/documents/views/notifications.py
  backend/medias/management/commands/audit_media_files.py
  backend/projects/views/crud.py
  backend/templates/admin/medias/projectphoto/change_list.html
  backend/templates/admin/medias/useravatar/change_list.html
  backend/users/views/auth.py
  backend/users/views/staff_profiles.py
  backend/users/views/user_profiles.py
  frontend/src/features/staff-profiles/components/modals/EmailStaffModal.tsx
  frontend/vite.config.ts
Due: frontend-checks, backend-checks

chore: fix all remaining codeql complaints about exposure
  backend/adminoptions/views.py
  backend/caretakers/views/utils.py
  backend/quotes/services/quote_service.py
Due: backend-checks

fix, ref: media cache issue, refactored for DRY
  backend/common/utils/file_validation.py
  backend/config/middleware.py
  backend/config/settings.py
  backend/documents/services/pdf_service.py
  backend/documents/views/pdf.py
  backend/medias/models.py
Due: backend-checks

Update change_list.html
  backend/templates/admin/medias/useravatar/change_list.html
Due: backend-checks

Update Dockerfile
  backend/Dockerfile
Due: backend-checks

shush gunicorn
  backend/Dockerfile
Due: backend-checks

ref, fix: tests and codeql warnings, update deps
  backend/documents/tests/test_services_generation.py
  backend/medias/models.py
  backend/medias/tests/test_orphaned_file_bug_condition.py
  backend/medias/tests/test_orphaned_file_preservation.py
  backend/medias/tests/test_validation_security.py
  backend/poetry.lock
  backend/users/tests/test_services.py
  frontend/bun.lock
  frontend/package.json
  frontend/src/features/projects/components/map/HeatmapLayer.tsx
  frontend/src/features/projects/components/map/HeatmapToggle.tsx
  frontend/src/features/projects/components/tabs/DocumentWorkflows.test.tsx
  frontend/src/features/projects/components/tabs/ProjectClosureTab.test.tsx
  frontend/src/features/projects/components/tabs/TabNavigation.test.tsx
  frontend/src/features/projects/hooks/useDocumentMutations.test.tsx
  frontend/src/features/projects/services/pdf.service.test.ts
  frontend/src/features/users/components/UserDetailSheet.architecture.test.ts
  frontend/src/shared/components/editor/ContentDiff.test.tsx
  frontend/src/shared/components/editor/InlineSaveEditor.test.tsx
  frontend/src/shared/components/editor/RichTextEditor.accessibility.test.tsx
  frontend/src/shared/components/editor/RichTextEditor.performance.test.tsx
  frontend/src/shared/components/editor/RichTextEditor.test.tsx
  frontend/src/shared/components/editor/plugins/MoveCursorToEndPlugin.test.tsx
Due: frontend-checks, backend-checks

Staging (#643): Fix CodeQL, Gunicorn and cache issues
  backend/Dockerfile
  backend/adminoptions/views.py
  backend/caretakers/views/utils.py
  backend/common/utils/file_validation.py
  backend/config/middleware.py
  backend/config/settings.py
  backend/documents/services/pdf_service.py
  backend/documents/tests/test_services_generation.py
  backend/documents/views/pdf.py
  backend/medias/models.py
  backend/medias/tests/test_orphaned_file_bug_condition.py
  backend/medias/tests/test_orphaned_file_preservation.py
  backend/medias/tests/test_validation_security.py
  backend/poetry.lock
  backend/quotes/services/quote_service.py
  backend/templates/admin/medias/useravatar/change_list.html
  backend/users/tests/test_services.py
  frontend/bun.lock
  frontend/package.json
  frontend/src/features/projects/components/map/HeatmapLayer.tsx
  frontend/src/features/projects/components/map/HeatmapToggle.tsx
  frontend/src/features/projects/components/tabs/DocumentWorkflows.test.tsx
  frontend/src/features/projects/components/tabs/ProjectClosureTab.test.tsx
  frontend/src/features/projects/components/tabs/TabNavigation.test.tsx
  frontend/src/features/projects/hooks/useDocumentMutations.test.tsx
  frontend/src/features/projects/services/pdf.service.test.ts
  frontend/src/features/users/components/UserDetailSheet.architecture.test.ts
  frontend/src/shared/components/editor/ContentDiff.test.tsx
  frontend/src/shared/components/editor/InlineSaveEditor.test.tsx
  frontend/src/shared/components/editor/RichTextEditor.accessibility.test.tsx
  frontend/src/shared/components/editor/RichTextEditor.performance.test.tsx
  frontend/src/shared/components/editor/RichTextEditor.test.tsx
  frontend/src/shared/components/editor/plugins/MoveCursorToEndPlugin.test.tsx
Due: frontend-checks, backend-checks

Path conditions:
  frontend-checks: any of: ^frontend/, but not: (?x)^(
    \.git/.*|
    \.github/.*|
    \.kiro/.*|
    node_modules/.*|
    __pycache__/.*|
    \.venv/.*|
    venv/.*|
    build/.*|
    dist/.*|
    coverage/.*|
    staticfiles/.*|
    migrations/.*
)$

  backend-checks: any of: ^backend/, but not: (?x)^(
    \.git/.*|
    \.github/.*|
    \.kiro/.*|
    node_modules/.*|
    __pycache__/.*|
    \.venv/.*|
    venv/.*|
    build/.*|
    dist/.*|
    coverage/.*|
    staticfiles/.*|
    migrations/.*
)$

